body {
color: white;
background-color: hsl(0, 0%, 95%);
}

.card {
    width: 58%;
    height: 40%;
    margin-top: 150px; 
    margin: auto;
    margin-top: 150px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 10px;
    row-gap: 20%;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-bottom: 30px;
    
}
.column img {
    padding-top: 30px;
    text-align: left;
}
.column h1 {
    font-family: 'Big Shoulders Display', cursive;
    color:hsl(0, 0%, 95%);
}

.column p{
   max-width: 150px; 
   max-height: 175px;
   font-size: 15px;
   margin-bottom: 50px;
   color:hsla(0, 0%, 100%, 0.75);
   font-family: 'Lexend Deca', sans-serif;
}

.column button {
    background-color:hsla(0, 0%, 100%, 0.95);
    border-radius: 25px 25px 25px 25px;
    border-style: none;
    width: 60%;
    height: 40px;
    font-family: 'Lexend Deca', sans-serif;
}

#column1 a {
    text-decoration: none;
    color:hsl(31, 77%, 52%);
}

#column2 a {
    text-decoration: none;
    color:hsl(184, 100%, 22%);
}

#column3 a {
    text-decoration: none;
    color:hsl(179, 100%, 13%);
}

#column1 {
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 0px 0px 10px;
}

#column2 {
    background-color: hsl(184, 100%, 22%);
}

#column3 {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0px 10px 10px 0px;
}

footer {
    color: black;
    position:fixed;
    bottom: 5px;
}

@media only screen and (max-width: 580px) {
    .card {
        display:block;
        height: 1vw;
        margin-bottom: 100px;
    }
    #column1 {
        border-radius: 10px 10px 0px 0px;
    }
    #column3 {
        border-radius: 0px 0px 10px 10px;
    }
}